/**
    * @author _ Pathum_Kaleesha
    * @create - 2022-05-13 - 23.17
    * @since - v0.1.0
**/

* {
    padding: 0;
    margin: 0;
}


#game {
    width: 400px;
    height: 504px;
    border: 5px solid black;
    margin: auto;
    overflow: hidden;
}

#block {
    width: 50px;
    height: 504px;
    background-color: black;
    position: relative;
    left: 400px;
    animation: block 5s infinite linear;
}

@keyframes block {
    0% {
        left: 400px
    }
    100% {
        left: -50px
    }
}

#hole {
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 5s infinite linear;
}

#character {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

/*-----------------------------------------------*/
/*DashBoard content*/
#dashBoardContent {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
}

#dashImg {

    width: 100vw;
    height: 100vh;
}

#startBtn {
    position: absolute;
    width: 100px;
    height: 40px;
    background: yellow;
    border: 2px solid red;
    border-radius: 25%;
    left: 44%;
    top: 66%;
    margin: auto;
    z-index: 100;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}


#help {
    position: absolute;
    left: 2%;
    top: 3%;
    width: 40px;
    height: 40px;
}

#howPlay {
    width: 100%;
    height: 100%;
}

#hdiv {
    width: 250px;
    height: 300px;
    position: absolute;
    left: 2%;
    top: 3%;
    border: 1px solid black;
    background: chocolate;
}

#h3Play {
    position: absolute;
    left: 20%;
    top: 3%;
    font-weight: bolder;
}

#helpList {
    position: absolute;
    left: 7%;
    right: 7%;
    top: 23%;
}

.list {
    margin: auto;
    padding-top: 13%;
}

#gamesPoints {
    position: absolute;
    right: 2%;
    top: 3%;
    border: 1px solid black;
    width: 250px;
    height: 300px;
    background: darkcyan;
}


#score {
    position: absolute;
    left: 3%;
    top: 56%;
    right: 9%;
    text-align: center;
    height: 20px;
    font-size: 25px;
}

#highscore {
    position: absolute;
    left: 9%;
    right: 9%;
    top: 75%;
    text-align: center;
    height: 20px;
    font-size: 26px;
}

#lblPlayer {
    position: absolute;
    left: 9%;
    right: 9%;
    top: 6%;
    text-align: center;
    font-weight: bold;
}

#player {
    position: absolute;
    text-align: center;
    left: 9%;
    right: 9%;
    top: 19%;
    height: 30px;
}

#addName {
    position: absolute;
    text-align: center;
    left: 9%;
    right: 9%;
    top: 36%;
    height: 30px;
}

#name {
    position: absolute;
    text-align: center;
    left: 9%;
    right: 9%;
    top: 19%;
    height: 30px;
}

#setting {
    position: absolute;
    left: 1.6%;
    top: 13%;
    width: 40px;
    height: 40px;
}

#changeColor {
    width: 250px;
    height: 300px;
    position: absolute;
    left: 1.6%;
    top: 13%;
    border: 1px solid black;
    background: linear-gradient(45deg, black, transparent);
}

#c1 {
    width: 50px;
    height: 50px;
    left: 3%;
    top: 3%;
    position: absolute;
    background-color: red;
    border-radius: 50%;
}

#c2 {
    width: 50px;
    height: 50px;
    left: 38%;
    top: 3%;
    position: absolute;
    background-color: darkcyan;
    border-radius: 50%;
}

#c3 {
    width: 50px;
    height: 50px;
    left: 75%;
    top: 3%;
    position: absolute;
    background-color: orange;
    border-radius: 50%;
}

#c4 {
    width: 50px;
    height: 50px;
    left: 38%;
    top: 73%;
    position: absolute;
    background-color: deeppink;
    border-radius: 50%;
}

#c5 {
    width: 50px;
    height: 50px;
    left: 3%;
    top: 37%;
    position: absolute;
    background-color: fuchsia;
    border-radius: 50%;
}#c6 {
    width: 50px;
    height: 50px;
    left: 38%;
    top: 37%;
    position: absolute;
    background-color:#3f341e ;
    border-radius: 50%;
}#c7 {
    width: 50px;
    height: 50px;
    left: 75%;
    top: 37%;
    position: absolute;
    background-color:#9c5e35 ;
    border-radius: 50%;
}#c8 {
    width: 50px;
    height: 50px;
    left: 75%;
    top: 73%;
    position: absolute;
    background-color:#5f1d11 ;
    border-radius: 50%;
}#c9 {
    width: 50px;
    height: 50px;
    left: 3%;
    top: 73%;
    position: absolute;
    background-color:#032d5d ;
    border-radius: 50%;
}

/*Dash board*/
#title{
    position: absolute;
    left: 23%;
    top: 23%;
    font-weight: bold;
    color: yellow;
    font-size: 98px;
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid orange;*/ /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 6s steps(60, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}